<a href="https://colab.research.google.com/github/MiguelAngeloTr/BIGDATA/blob/main/C1/Talleres/TallerSemana5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Christian David Cardenas orozco
- Miguel Angel Jimenez trochez
- Juan pablo castaño

#Instalar Pyspark

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.4/spark-3.5.4-bin-hadoop3.tgz
!tar xf spark-3.5.4-bin-hadoop3.tgz
!pip install pyspark
!pip install py4j
!pip install findspark

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:11 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,235 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,649 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [3,688 kB]
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,321 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,708 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,664 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,956 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [3,830 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,533 kB]
Fetched 29.0 MB in 8s (3,639 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
32 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.5.4-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.11/dist-packages (0.10.9.7)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

# Crear ambiente y sesion de Spark

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.4-bin-hadoop3"

In [3]:
import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Taller Semana 3 Spark") \
       .getOrCreate()

Comprobar la sesion

In [6]:
spark

Instalar dependencias necesarias de pyspark sql

In [7]:
from pyspark.sql.types import *
from pyspark.sql.functions import to_date
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import col, regexp_extract, avg, split

Crear la estructura del schema

In [8]:
schema = StructType([
    StructField("show_id", StringType(), True),
    StructField("type", StringType(), True),
    StructField("title", StringType(), True),
    StructField("director", StringType(), True),
    StructField("cast", StringType(), True),
    StructField("country", StringType(), True),
    StructField("date_added", StringType(), True),  # Luego se puede convertir a DateType si es necesario
    StructField("release_year", IntegerType(), True),
    StructField("rating", StringType(), True),
    StructField("duration", StringType(), True),  # Se puede dividir en minutos o temporadas si es necesario
    StructField("listed_in", StringType(), True),
    StructField("description", StringType(), True)
])

Leer el dataset de netflix y aplicarle el schema

In [19]:

import requests
path = "https://raw.githubusercontent.com/MiguelAngeloTr/BIGDATA/refs/heads/main/C1/Talleres/netflix_titles.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'netflix_titles.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
df.show()

#Segundo Data set
path = "https://raw.githubusercontent.com/MiguelAngeloTr/BIGDATA/refs/heads/main/C1/Talleres/disney_plus_titles.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'disney_plus_titles.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)
df.show()

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                NULL|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|                NULL|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                NULL|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|                NULL|                NULL|                NULL|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|                NULL|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                NULL|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                NULL|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|
|    s11|TV Show|Vendetta: Truth, ...|                NULL|                NULL|                NULL|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, D...|"Sicily boasts a ...|
|    s12|TV Show|    Bangkok Breaking|   Kongkiat Komesiri|Sukollawat Kanaro...|                NULL|September 23, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|Struggling to ear...|
|    s13|  Movie|        Je Suis Karl| Christian Schwochow|Luna Wedler, Jann...|Germany, Czech Re...|September 23, 2021|        2021| TV-MA|  127 min|Dramas, Internati...|After most of her...|
|    s14|  Movie|Confessions of an...|       Bruno Garotti|Klara Castanho, L...|                NULL|September 22, 2021|        2021| TV-PG|   91 min|Children & Family...|When the clever b...|
|    s15|TV Show|Crime Stories: In...|                NULL|                NULL|                NULL|September 22, 2021|        2021| TV-MA| 1 Season|British TV Shows,...|Cameras following...|
|    s16|TV Show|   Dear White People|                NULL|Logan Browning, B...|       United States|September 22, 2021|        2021| TV-MA|4 Seasons|TV Comedies, TV D...|"Students of colo...|
|    s17|  Movie|Europe's Most Dan...|Pedro de Echave G...|                NULL|                NULL|September 22, 2021|        2020| TV-MA|   67 min|Documentaries, In...|Declassified docu...|
|    s18|TV Show|     Falsa identidad|                NULL|Luis Ernesto Fran...|              Mexico|September 22, 2021|        2020| TV-MA|2 Seasons|Crime TV Shows, S...|Strangers Diego a...|
|    s19|  Movie|           Intrusion|          Adam Salky|Freida Pinto, Log...|                NULL|September 22, 2021|        2021| TV-14|   94 min|           Thrillers|After a deadly ho...|
|    s20|TV Show|              Jaguar|                NULL|Blanca Suárez, Iv...|                NULL|September 22, 2021|        2021| TV-MA| 1 Season|International TV ...|In the 1960s, a H...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 20 rows

+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|       date_added|release_year|rating|  duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
|     s1|  Movie|Duck the Halls: A...|Alonso Ramirez Ra...|Chris Diamantopou...|                NULL|November 26, 2021|        2016|  TV-G|    23 min|   Animation, Family|Join Mickey and t...|
|     s2|  Movie|Ernest Saves Chri...|         John Cherry|Jim Varney, Noell...|                NULL|November 26, 2021|        1988|    PG|    91 min|              Comedy|Santa Claus passe...|
|     s3|  Movie|Ice Age: A Mammot...|        Karen Disher|Raymond Albert Ro...|       United States|November 26, 2021|        2011|  TV-G|    23 min|Animation, Comedy...|Sid the Sloth is ...|
|     s4|  Movie|The Queen Family ...|     Hamish Hamilton|Darren Criss, Ada...|                NULL|November 26, 2021|        2021| TV-PG|    41 min|             Musical|This is real life...|
|     s5|TV Show|The Beatles: Get ...|                NULL|John Lennon, Paul...|                NULL|November 25, 2021|        2021|  NULL|  1 Season|Docuseries, Histo...|A three-part docu...|
|     s6|  Movie|   Becoming Cousteau|          Liz Garbus|Jacques Yves Cous...|       United States|November 24, 2021|        2021| PG-13|    94 min|Biographical, Doc...|An inside look at...|
|     s7|TV Show|             Hawkeye|                NULL|Jeremy Renner, Ha...|                NULL|November 24, 2021|        2021| TV-14|  1 Season|Action-Adventure,...|Clint Barton/Hawk...|
|     s8|TV Show|Port Protection A...|                NULL|Gary Muehlberger,...|       United States|November 24, 2021|        2015| TV-14| 2 Seasons|Docuseries, Reali...|Residents of Port...|
|     s9|TV Show|Secrets of the Zo...|                NULL|Dr. Ray Ball, Dr....|       United States|November 24, 2021|        2019| TV-PG| 2 Seasons|Animals & Nature,...|A day in the life...|
|    s10|  Movie|A Muppets Christm...|    Kirk R. Thatcher|Steve Whitmire, D...|       United States|November 19, 2021|        2008|     G|    45 min|Comedy, Family, M...|Celebrate the hol...|
|    s11|  Movie|Adventure Thru th...|          John Gleim|Don Hahn, Kathryn...|                NULL|November 19, 2021|        2020| TV-PG|    59 min|         Documentary|Explore the treas...|
|    s12|  Movie|  Puppy for Hanukkah|                NULL|                NULL|                NULL|November 19, 2021|        2020|  TV-G|     4 min|Comedy, Family, M...|"Check out Daveed...|
|    s13|  Movie|     The Pixar Story|       Leslie Iwerks|Stacy Keach, John...|       United States|November 19, 2021|        2007|     G|    91 min| Documentary, Family|A groundbreaking ...|
|    s14|TV Show|Dr. Oakley, Yukon...|                NULL|Dr. Michelle Oakl...|       United States|November 17, 2021|        2013| TV-PG|10 Seasons|Action-Adventure,...|Meet Dr. Michelle...|
|    s15|  Movie|America the Beaut...|                NULL|   Michael B. Jordan|                NULL|November 12, 2021|        2021| TV-PG|     2 min|    Animals & Nature|Epic, grand portr...|
|    s16|  Movie|             Baymax!|                NULL|                NULL|                NULL|November 12, 2021|        2021|  TV-G|     1 min|           Animation|“Baymax!” premier...|
|    s17|  Movie|        Ciao Alberto|      McKenna Harris|Jack Dylan Grazer...|                NULL|November 12, 2021|        2021| TV-PG|     8 min|Animation, Comedy...|Fun-loving sea mo...|
|    s18|TV Show|  Disney Fancy Nancy|                NULL|Mia Jenness, Alys...|United States, Ca...|November 12, 2021|        2018| TV-PG| 3 Seasons|     Animation, Kids|Nancy makes every...|
|    s19|TV Show|  Disney Intertwined|                NULL|Carolina Domenech...|                NULL|November 12, 2021|        2021| TV-PG|  1 Season|Comedy, Coming of...|Allegra is ready ...|
|    s20|  Movie|           Enchanted|          Kevin Lima|Amy Adams, Patric...|       United States|November 12, 2021|        2007|    PG|   110 min|Comedy, Family, F...|An animated princ...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
only showing top 20 rows

In [21]:
df.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

Leer el dataset de disney+ y aplicarle el schema

In [20]:
dfd = spark.read.csv('disney_plus_titles.csv', header=True, sep=",", inferSchema=True, multiLine=True, schema=schema)
dfd.show()

+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|       date_added|release_year|rating|  duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
|     s1|  Movie|Duck the Halls: A...|Alonso Ramirez Ra...|Chris Diamantopou...|                NULL|November 26, 2021|        2016|  TV-G|    23 min|   Animation, Family|Join Mickey and t...|
|     s2|  Movie|Ernest Saves Chri...|         John Cherry|Jim Varney, Noell...|                NULL|November 26, 2021|        1988|    PG|    91 min|              Comedy|Santa Claus passe...|
|     s3|  Movie|Ice Age: A Mammot...|        Karen Disher|Raymond Albert Ro...|       United States|November 26, 2021|        2011|  TV-G|    23 min|Animation, Comedy...|Sid the Sloth is ...|
|     s4|  Movie|The Queen Family ...|     Hamish Hamilton|Darren Criss, Ada...|                NULL|November 26, 2021|        2021| TV-PG|    41 min|             Musical|This is real life...|
|     s5|TV Show|The Beatles: Get ...|                NULL|John Lennon, Paul...|                NULL|November 25, 2021|        2021|  NULL|  1 Season|Docuseries, Histo...|A three-part docu...|
|     s6|  Movie|   Becoming Cousteau|          Liz Garbus|Jacques Yves Cous...|       United States|November 24, 2021|        2021| PG-13|    94 min|Biographical, Doc...|An inside look at...|
|     s7|TV Show|             Hawkeye|                NULL|Jeremy Renner, Ha...|                NULL|November 24, 2021|        2021| TV-14|  1 Season|Action-Adventure,...|Clint Barton/Hawk...|
|     s8|TV Show|Port Protection A...|                NULL|Gary Muehlberger,...|       United States|November 24, 2021|        2015| TV-14| 2 Seasons|Docuseries, Reali...|Residents of Port...|
|     s9|TV Show|Secrets of the Zo...|                NULL|Dr. Ray Ball, Dr....|       United States|November 24, 2021|        2019| TV-PG| 2 Seasons|Animals & Nature,...|A day in the life...|
|    s10|  Movie|A Muppets Christm...|    Kirk R. Thatcher|Steve Whitmire, D...|       United States|November 19, 2021|        2008|     G|    45 min|Comedy, Family, M...|Celebrate the hol...|
|    s11|  Movie|Adventure Thru th...|          John Gleim|Don Hahn, Kathryn...|                NULL|November 19, 2021|        2020| TV-PG|    59 min|         Documentary|Explore the treas...|
|    s12|  Movie|  Puppy for Hanukkah|                NULL|                NULL|                NULL|November 19, 2021|        2020|  TV-G|     4 min|Comedy, Family, M...|"Check out Daveed...|
|    s13|  Movie|     The Pixar Story|       Leslie Iwerks|Stacy Keach, John...|       United States|November 19, 2021|        2007|     G|    91 min| Documentary, Family|A groundbreaking ...|
|    s14|TV Show|Dr. Oakley, Yukon...|                NULL|Dr. Michelle Oakl...|       United States|November 17, 2021|        2013| TV-PG|10 Seasons|Action-Adventure,...|Meet Dr. Michelle...|
|    s15|  Movie|America the Beaut...|                NULL|   Michael B. Jordan|                NULL|November 12, 2021|        2021| TV-PG|     2 min|    Animals & Nature|Epic, grand portr...|
|    s16|  Movie|             Baymax!|                NULL|                NULL|                NULL|November 12, 2021|        2021|  TV-G|     1 min|           Animation|“Baymax!” premier...|
|    s17|  Movie|        Ciao Alberto|      McKenna Harris|Jack Dylan Grazer...|                NULL|November 12, 2021|        2021| TV-PG|     8 min|Animation, Comedy...|Fun-loving sea mo...|
|    s18|TV Show|  Disney Fancy Nancy|                NULL|Mia Jenness, Alys...|United States, Ca...|November 12, 2021|        2018| TV-PG| 3 Seasons|     Animation, Kids|Nancy makes every...|
|    s19|TV Show|  Disney Intertwined|                NULL|Carolina Domenech...|                NULL|November 12, 2021|        2021| TV-PG|  1 Season|Comedy, Coming of...|Allegra is ready ...|
|    s20|  Movie|           Enchanted|          Kevin Lima|Amy Adams, Patric...|       United States|November 12, 2021|        2007|    PG|   110 min|Comedy, Family, F...|An animated princ...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+----------+--------------------+--------------------+
only showing top 20 rows

In [22]:
dfd.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: integer (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

Aplicar el formaato correcto de fecha a los datasets

In [23]:
df = df.withColumn("date_added", to_date(df["date_added"], "MMMM d, yyyy"))
dfd = dfd.withColumn("date_added", to_date(dfd["date_added"], "MMMM d, yyyy"))

Eliminar filas con datos nulos

In [24]:
#dfd = dfd.dropna() esta tiene muy pocos valores para borrarlos
df = df.dropna()

Analisis previo de las columnas

In [25]:
df.summary().show()

+-------+-------+-----+--------------------+--------------------+-----------------------------+--------------------+------------------+--------+--------+--------------------+--------------------+
|summary|show_id| type|               title|            director|                         cast|             country|      release_year|  rating|duration|           listed_in|         description|
+-------+-------+-----+--------------------+--------------------+-----------------------------+--------------------+------------------+--------+--------+--------------------+--------------------+
|  count|    817|  817|                 817|                 817|                          817|                 817|               817|     817|     817|                 817|                 817|
|   mean|   NULL| NULL|                NULL|                NULL|                         NULL|                NULL|1999.7992656058752|    NULL|    NULL|                NULL|                NULL|
| stddev|   NULL| NULL|                NULL|                NULL|                         NULL|                NULL|20.327137020741535|    NULL|    NULL|                NULL|                NULL|
|    min|    s10|Movie|10 Things I Hate ...|Aaron Blaise, Rob...|         "Kevin Jonas, Joe...|Australia, United...|              1928|       G|  10 min|Action-Adventure,...|"""Fauci"" reveal...|
|    25%|   NULL| NULL|                NULL|                NULL|                         NULL|                NULL|            1995.0|    NULL|    NULL|                NULL|                NULL|
|    50%|   NULL| NULL|                NULL|                NULL|                         NULL|                NULL|            2006.0|    NULL|    NULL|                NULL|                NULL|
|    75%|   NULL| NULL|                NULL|                NULL|                         NULL|                NULL|            2014.0|    NULL|    NULL|                NULL|                NULL|
|    max|   s999|Movie|            Zootopia|     朱家欣 , 钟智行|劳奕嘉 , 朱祺隆 , 郭凯敏 ,...|United States, Un...|              2021|TV-Y7-FV|  99 min|              Sports|“Timmy Failure” f...|
+-------+-------+-----+--------------------+--------------------+-----------------------------+--------------------+------------------+--------+--------+--------------------+--------------------+

In [26]:
dfd.summary().show()

+-------+-------+-------+--------------------+--------------------+------------------------------+--------------------+------------------+---------------+-----------------+---------+--------------------+
|summary|show_id|   type|               title|            director|                          cast|             country|      release_year|         rating|         duration|listed_in|         description|
+-------+-------+-------+--------------------+--------------------+------------------------------+--------------------+------------------+---------------+-----------------+---------+--------------------+
|  count|   1450|   1450|                1450|                 977|                          1260|                1232|              1447|           1447|             1450|     1449|                1450|
|   mean|   NULL|   NULL|                NULL|                NULL|                          NULL|                NULL|2003.0587422252936|           NULL|           2020.0|   2016.0|                NULL|
| stddev|   NULL|   NULL|                NULL|                NULL|                          NULL|                NULL|21.870580081600902|           NULL|             NULL|     NULL|                NULL|
|    min|     s1|  Movie|"Maggie Simpson i...|Aaron Blaise, Rob...|          "Ashley Eckstein,...|    Bryce Papenbrook|              1928| Todd Haberkorn|   Max Mittelman"|     2016|"""Fauci"" reveal...|
|    25%|   NULL|   NULL|                NULL|                NULL|                          NULL|                NULL|              1999|           NULL|           2020.0|   2016.0|                NULL|
|    50%|   NULL|   NULL|                NULL|                NULL|                          NULL|                NULL|              2011|           NULL|           2020.0|   2016.0|                NULL|
|    75%|   NULL|   NULL|                NULL|                NULL|                          NULL|                NULL|              2018|           NULL|           2020.0|   2016.0|                NULL|
|    max|   s999|TV Show|            Zootopia|     朱家欣 , 钟智行|英司 花輪, 一博 中谷, 康之 ...|United States, Un...|              2021|  United States|November 12, 2019|  Variety|“What If…?” flips...|
+-------+-------+-------+--------------------+--------------------+------------------------------+--------------------+------------------+---------------+-----------------+---------+--------------------+


1 ¿Cuál es la proporción entre películas y series en el catálogo de Disney+?

In [27]:
conteo_tipo = dfd.groupBy("type").count()

conteo_tipo.show()

total_movies = conteo_tipo.filter(col("type") == "Movie").select("count").collect()[0][0]
total_shows = conteo_tipo.filter(col("type") == "TV Show").select("count").collect()[0][0]

proporcion = total_movies / total_shows if total_shows != 0 else "No hay series en el dataset"
print(f"Proporción Películas/Series: {proporcion:.2f}")

#Respuesta: La proporcion entre peliculas y series esta en 1052 Peliculas y 398 series

+-------+-----+
|   type|count|
+-------+-----+
|TV Show|  398|
|  Movie| 1052|
+-------+-----+

Proporción Películas/Series: 2.64

2 ¿Qué países tienen el mayor número de producciones en Disney+?

In [ ]:

disney_countries = dfd.withColumn("country", split(col("country"), ", ")) \
    .selectExpr("explode(country) as country") \
    .groupBy("country").count() \
    .orderBy(col("count").desc())
disney_countries.show(10)


#El mayor numero de producciones de disney lo tiene Estados Unidos

+--------------+-----+
|       country|count|
+--------------+-----+
| United States| 1182|
|United Kingdom|  101|
|        Canada|   77|
|     Australia|   23|
|        France|   22|
|   South Korea|   13|
|         China|   10|
|         Japan|   10|
|       Germany|    9|
|       Ireland|    8|
+--------------+-----+
only showing top 10 rows

¿Quiénes son los directores con más títulos en el catálogo de Disney+?

In [ ]:

# 3.
disney_directors = dfd.filter(col("director").isNotNull()) \
    .groupBy("director").count() \
    .orderBy(col("count").desc())
disney_directors.show(10)

+----------------+-----+
|        director|count|
+----------------+-----+
|     Jack Hannah|   17|
|   John Lasseter|   16|
|       Paul Hoen|   16|
| Charles Nichols|   12|
|Robert Stevenson|   12|
|Vincent McEveety|   10|
|    Bob Peterson|   10|
|     James Algar|    9|
|    Kenny Ortega|    9|
| Wilfred Jackson|    9|
+----------------+-----+
only showing top 10 rows

¿Cómo ha cambiado el número de lanzamientos de contenido en Disney+ a lo largo de los años?

In [ ]:
# 4.

disney_years = dfd.withColumn("release_year", col("release_year")) \
    .groupBy("release_year").count() \
    .orderBy(col("release_year"))
disney_years.show(99)

+------------+-----+
|release_year|count|
+------------+-----+
|        NULL|    3|
|        1928|    1|
|        1932|    3|
|        1933|    3|
|        1934|    4|
|        1935|    4|
|        1936|    6|
|        1937|    6|
|        1938|    5|
|        1939|    5|
|        1940|    7|
|        1941|    7|
|        1942|    6|
|        1943|    2|
|        1944|    1|
|        1945|    1|
|        1946|    2|
|        1947|    5|
|        1948|    5|
|        1949|    5|
|        1950|    6|
|        1951|    4|
|        1952|    8|
|        1953|    6|
|        1954|    4|
|        1955|    9|
|        1956|    4|
|        1957|    4|
|        1959|    5|
|        1960|    3|
|        1961|    5|
|        1962|    3|
|        1963|    3|
|        1964|    3|
|        1965|    3|
|        1966|    2|
|        1967|    2|
|        1968|    1|
|        1969|    4|
|        1970|    1|
|        1971|    3|
|        1972|    3|
|        1973|    2|
|        1974|    4|
|        1975|    4|
|        1976|    4|
|        1977|    6|
|        1978|    4|
|        1979|    5|
|        1980|    4|
|        1981|    3|
|        1982|    2|
|        1983|    2|
|        1984|    4|
|        1985|    8|
|        1986|    7|
|        1987|    6|
|        1988|    6|
|        1989|    7|
|        1990|    5|
|        1991|    6|
|        1992|   10|
|        1993|   14|
|        1994|   14|
|        1995|   13|
|        1996|   17|
|        1997|   17|
|        1998|   20|
|        1999|   22|
|        2000|   26|
|        2001|   18|
|        2002|   21|
|        2003|   29|
|        2004|   28|
|        2005|   32|
|        2006|   32|
|        2007|   23|
|        2008|   33|
|        2009|   35|
|        2010|   39|
|        2011|   52|
|        2012|   41|
|        2013|   32|
|        2014|   50|
|        2015|   46|
|        2016|   60|
|        2017|   69|
|        2018|   65|
|        2019|   99|
|        2020|  113|
|        2021|  124|
+------------+-----+

¿Cuál es la duración promedio de las películas en Disney+?

In [ ]:

#5

disney_movies = dfd.filter(col("type") == "Movie")

disney_movies = disney_movies.filter(col("duration").isNotNull())

disney_movies = disney_movies.withColumn("duration", regexp_extract(col("duration"), r"(\d+)", 1).cast("int"))

disney_movies.select(avg("duration").alias("Promedio_Duracion_Minutos")).show()

NameError: name 'regexp_extract' is not defined

 7 ¿Cuáles son los géneros más comunes en el catálogo de Disney+?

In [ ]:

#7


disney_genres = dfd.withColumn("listed_in", split(col("listed_in"), ", ")) \
    .selectExpr("explode(listed_in) as genre") \
    .groupBy("genre").count() \
    .orderBy(col("count").desc())
disney_genres.show(10)

+----------------+-----+
|           genre|count|
+----------------+-----+
|          Family|  631|
|       Animation|  539|
|          Comedy|  525|
|Action-Adventure|  451|
|Animals & Nature|  208|
|   Coming of Age|  205|
|         Fantasy|  191|
|     Documentary|  174|
|            Kids|  141|
|           Drama|  134|
+----------------+-----+
only showing top 10 rows

In [ ]:
#8

disney_us = dfd.filter(col("country").contains("United States")).count()
disney_total = dfd.count()
print(f"Proporción de contenido internacional en Disney+: {1 - (disney_us / disney_total):.2%}")

Proporción de contenido internacional en Disney+: 18.48%

# Dataset Netflix

Proporcion peliculas y series

In [ ]:
#9
conteo_tipo = df.groupBy("type").count()

conteo_tipo.show()

total_movies = conteo_tipo.filter(col("type") == "Movie").select("count").collect()[0][0]
total_shows = conteo_tipo.filter(col("type") == "TV Show").select("count").collect()[0][0]

proporcion = total_movies / total_shows if total_shows != 0 else "No hay series en el dataset"
print(f"Proporción Películas/Series: {proporcion:.2f}")

In [ ]:
#10
netflix_countries = df.withColumn("country", split(col("country"), ", ")) \
    .selectExpr("explode(country) as country") \
    .groupBy("country").count() \
    .orderBy(col("count").desc())
netflix_countries.show(10)

In [ ]:
#11
netflix_years = df.withColumn("release_year", col("release_year")) \
    .groupBy("release_year").count() \
    .orderBy(col("release_year"))
netflix_years.show(10)

In [ ]:
#12
netflix_series = df.filter(col("type") == "TV Show")

netflix_series = netflix_series.filter(col("duration").isNotNull())

netflix_series = netflix_series.withColumn("duration", regexp_extract(col("duration"), r"(\d+)", 1).cast("int"))

netflix_series.select(avg("duration").alias("Promedio_Temporadas")).show()

+-------------------+
|Promedio_Temporadas|
+-------------------+
| 1.7700074794315632|
+-------------------+

In [ ]:
#13
print(f"Proporción de contenido producido en EE.UU. en Disney+: {disney_us / disney_total:.2%}")

Proporción de contenido producido en EE.UU. en Disney+: 81.52%

In [ ]:
#14
netflix_actors = df.withColumn("cast", split(col("cast"), ", ")) \
    .selectExpr("explode(cast) as actor") \
    .groupBy("actor").count() \
    .orderBy(col("count").desc())
netflix_actors.show(10)

+----------------+-----+
|           actor|count|
+----------------+-----+
|     Anupam Kher|   43|
|  Shah Rukh Khan|   35|
|   Julie Tejwani|   33|
|Takahiro Sakurai|   32|
|Naseeruddin Shah|   32|
|    Rupa Bhimani|   31|
|    Akshay Kumar|   30|
|         Om Puri|   30|
|       Yuki Kaji|   29|
|Amitabh Bachchan|   28|
+----------------+-----+
only showing top 10 rows